@model ProyectoBFinal.Models.Altas

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    


<div class="form-horizontal">
    <div style="float:left;">
        <h4>Agregar altas</h4>

    </div>
    <div style="float:right;">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
    </div>
    <br>
    <hr />
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Agregar altas</h2></div>
                <div class="panel-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.IngresoId, "Id del ingresado", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("IngresoId", null, "Seleccione un id", htmlAttributes: new { @class = "form-control", id = "dropdatos" })
                            @Html.ValidationMessageFor(model => model.IngresoId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre_paciente, "Nombre del Paciente", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre_paciente, new { htmlAttributes = new { @class = "form-control", id = "inputNombre" } })
                            @Html.ValidationMessageFor(model => model.Nombre_paciente, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Fecha_ingreso, "Fecha de ingreso", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Fecha_ingreso, new { htmlAttributes = new { @class = "form-control", id = "inputFecha" } })
                            @Html.ValidationMessageFor(model => model.Fecha_ingreso, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Fecha_salida, "Fecha de salida", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Fecha_salida, new { htmlAttributes = new { @class = "form-control", id = "inputFSal" } })
                            @Html.ValidationMessageFor(model => model.Fecha_salida, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Habitacion, "Numero de habitacion", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Habitacion, new { htmlAttributes = new { @class = "form-control", id = "inputHabi" } })
                            @Html.ValidationMessageFor(model => model.Habitacion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Monto, "Monto a pagar", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control", id = "inputMonto" } })
                            @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function (){
            $("#dropdatos").change(function () {
                var url = "@Url.Action("BuscadorNom", "Buscador")";
                var clavePaciente = $("#dropdatos").val();
                var data = { clavePaciente: clavePaciente };
                $.post(url, data).done(function (data) {
                    $("#inputNombre").val(data);
                }).fail(manejarErrorAjax).always(function (){

                });
            });
             $("#dropdatos").change(function () {
                var url = "@Url.Action("BuscadorFIn", "Buscador")";
                var clavePaciente = $("#dropdatos").val();
                var data = { clavePaciente: clavePaciente };
                $.post(url, data).done(function (data) {
                    $("#inputFecha").val(data);
                }).fail(manejarErrorAjax).always(function (){

                });
             });
             $("#dropdatos").change(function () {
                var url = "@Url.Action("BuscadorNHab", "Buscador")";
                var clavePaciente = $("#dropdatos").val();
                var data = { clavePaciente: clavePaciente };
                $.post(url, data).done(function (data) {
                    $("#inputHabi").val(data);
                }).fail(manejarErrorAjax).always(function (){

                });
             });

            $("#dropdatos").change(function () {

                $("#inputFSal").val(hoyFecha());
               
            });

            $("#dropdatos").change(function () {
                var url = "@Url.Action("BuscadorMonto", "Buscador")";
                var clavePaciente = $("#dropdatos").val();
                var data = { clavePaciente: clavePaciente };
                $.post(url, data).done(function (data) {
                    $("#inputMonto").val(generaMonto(data));
                }).fail(manejarErrorAjax).always(function (){

                });
             });


            function manejarErrorAjax(err) {
                console.log(err.responseText);
            }
        })

        function addZero(i) {
            if (i < 10) {
                i = '0' + i;
            }
            return i;
        }

        function hoyFecha() {
            var hoy = new Date();
            var dd = hoy.getDate();
            var mm = hoy.getMonth() + 1;
            var yyyy = hoy.getFullYear();

            dd = addZero(dd);
            mm = addZero(mm);

            return yyyy + '-' + mm + '-' + dd;
        }
        console.log(generaMonto())

        function generaMonto(data) {
            var fechaf = $("#inputFSal").val().replace("-", "");
            var fechai = $("#inputFecha").val().replace("-", "");
            var montoPorDia = data;
            resta = fechaf.replace("-", "") - fechai.replace("-", "");

            return resta * data;
        }
        
    </script>
}
