@model ProyectoBFinal.Models.Altas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Altas</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Nombre del paciente")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_paciente)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de ingreso")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_ingreso)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de salida")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_salida)
        </dd>

        <dt>
            @Html.DisplayName("Numero de habitacion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitacion)
        </dd>

        <dt>
            @Html.DisplayName("Monto a pagar")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
