<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <nav class="navbar navbar-inverse sidebar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hospital", "Index", "Pacientes", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" style="font-size:13px;" class="dropdown-toggle" data-toggle="dropdown">Modulo mantenimiento <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-plus-sign"></span></a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>@Html.ActionLink("Agregar Pacientes", "Create", "Pacientes")</li>
                            <li>@Html.ActionLink("Agregar Doctores", "Create", "Medicos")</li>
                            <li>@Html.ActionLink("Agregar Habitaciones", "Create", "Habitaciones")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" style="font-size:13px;" class="dropdown-toggle" data-toggle="dropdown">Modulo Proceso <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-plus-sign"></span></a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>@Html.ActionLink("Agregar citas", "Create", "Citas")</li>
                            <li>@Html.ActionLink("Agregar ingresos", "Create", "ingresos")</li>
                            <li>@Html.ActionLink("Agregar altas", "Create", "Altas")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Buscar <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-search"></span></a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>@Html.ActionLink("Lista Pacientes", "Index", "Pacientes")</li>
                            <li>@Html.ActionLink("Lista Doctores", "Index", "Medicos")</li>
                            <li>@Html.ActionLink("Lista Habitaciones", "Index", "Habitaciones")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Lista citas", "Index", "Citas")</li>
                            <li>@Html.ActionLink("Lista ingresos", "Index", "ingresos")</li>
                            <li>@Html.ActionLink("Lista altas", "Index", "Altas")</li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                
                </div>
            </div>
        </div>
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
